.graphbox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}

.graphbox .box{
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    box-shadow: 5px;
}

@media (max-width: 991px){
    .graphbox{
        grid-template-columns: 1fr;
        height: auto;
    }
}