*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#hero{
    width: 100%;
    height: 100vh;
    background-image: url(bg_img1.jpg);
    background-size: 100%;
    background-position: relative;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.navbar .logo{
    width: 100px;
    margin: 30px 0;
    cursor: pointer;
}

.user{
    display: flex;
    align-items: center;
}

.avatar{
    border-radius: 50%;
    width: 90px;
}

.navbar button{
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 50px;
}

.container{
    width: 50%;
    height: 100vh;
    background: rgba(86,86,86,0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info{
    width: 550px;
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info h1{
    font-size: 60px;
    letter-spacing: 10px;
}

.info p{
    color: #f0eef1;
    font-size: 18px;
    margin: 20px 0;
    line-height: 18px;
}

.btnLogin-popup{
    padding: 10px 35px;
    background: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 50px;
}

.btnLogin-popup:hover{
    background: white;
    color: black;
}

.wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 380px;
    height: 420px;
    padding: 15px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-left: 580px;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
    justify-content: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, .input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}
  